* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  background: #f5f5f5;
  color: #4d4d4d;
  height: 100%;
  width: 100%;
  font: 16px 'Helvetica Neue',
  Helvetica,
  Arial,
  sans-serif;
}
div {
  height: 100%;
  width: 100%;
}
.none {
  display: none;
}
.todoList {
  /* margin: 0 auto; */
  width: 500px;
  height: auto;
  /* transform: translateY(-50%); */
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: relative;
}
.todoInput {
  width: 500px;
  height: 50px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}
.todoInput label {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 50px;
  padding-left: 10px;
}
.todoInput input {
  margin-left: 75px;
  width: 425px;
  padding: 10px 15px 10px 2px;
  height: 50px;
  outline: none;
  border: none;
  color: #4d4d4d;
  text-indent: 10px;
}
.itemList {
  background-color: #fff;
  border-radius: 15px;
}
.todoItem {
  font-size: 20px;
  margin-top: 5px;
  height: 80px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(197, 197, 197);
}
.todoItem label {
  transition: .5s
}
.todoItem.completed label {
  color: rgb(202, 202, 202);
  text-decoration: line-through;
}
.toggle {
  outline: none;
  text-align: center;
  width: 50px;
  height: auto;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}
.toggle:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="#fff" stroke="#848a89" stroke-width="3"/></svg>');
}

.toggle:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="#fff" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}
.delete {
  height: 30px;
  line-height: 30px;
  padding: 0px 15px 0px 15px;
  border-radius: 5px;
  background-color: rgb(22, 196, 240);
  outline: 0;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin-right: 20px;
}
footer {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
}
ul {
  list-style: none;
}
.selectList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selected {
  border: 1px solid #9cca60
}
button {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  outline: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background: none;
  border: none;
  font-size: 100%;
}